body{ 
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    margin: auto;
}
.child-container{
    text-align: center;
    background-color: black;
    color: whitesmoke;
    
} 
.navbar{
    padding: 1.5rem;
    font-size: 18px;
    background-color: #04AA6D;
    text-align: right;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    display: flow-root;
}
ul{
    list-style-type: none;
}
ul li {
    display: inline; 
  }
.navbar ul li a{
   padding: 20px;
   padding-top: 12px;
   padding-bottom:15px;
  }
ul li a {
    text-decoration: none;
    color: whitesmoke;
  }
.project-lists li {
    padding: 14px 16px;
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
  }
.child-container p{
    margin: 0 25%;
}.project-lists{
    width: 60%;
}
.heading2{
    margin-bottom: 0px;
    margin-top:12px
}
.image {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin-top: 5em;
}
.project-lists img{
    width: 40%;

}
.heading1{
    color: #04AA6D;
    margin-bottom: 0px;
    margin-top: 10px;
}
.mb-3 input{
    margin: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 30%;
    border-radius: 5px;
    padding: 10px;
}
.mb-3 textarea{  
    width: 30%;
    margin: 0.5rem;
    padding: 8px;
}
.fa{
	padding: 12px;
    margin: 10px;
	border-radius: 50%;
	background-color: #1fa67a;
}
footer {
    text-align: center;
    padding: 2px;
    background-color:#1fa67a ;
    color: white;
    height: 58px;
  }
.project-lists{
    font-weight: bold; 
    display: inline-block;
    color: cornsilk;
    text-align: justify;
  }
div.navbar li a:hover{
      background-color:white;
      border-radius: 10px;
      opacity: 1;
      color:#1fa67a ;
  }
.burger div{
	width: 25px;
	height: 3px;
	background-color: white;
	margin: 5px;
	cursor: pointer;
}

.burger{
	display: none;
}
@media screen and (max-width: 800px){
    nav li{
        display: none;
    }
	.burger{
		display: block;
        float: right;   
	}
    .nav-lists{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 50px;
    height:30px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
nav li a {
    margin-top: 8px;
}
}
@media screen and (max-width: 1000px){  
    nav{
        display: block;
    }  
    nav li {
		display: flex;
		flex-direction: column;
    }
}
